{% extends 'base.html' %}
<!---->
{%block body%}

<p>This Page Is Under Development</p>

<h2>{{product.name}}</h2>
<h5>Seller : {{product.owner}}</h5>
<h5>Price : {{product.unitprice}}</h5>
<h5>Unit Remaining : {{product.rem_quant}}</h5>
{{ product.img_obj}}
<img style="height: 300px; width:auto;" src={{product.image.url}}>
<form method=P OST action="{% url 'store:product' product.id %}">
    {% csrf_token %} {{ form.as_p}}
    <button name="submit"> Place order</button>
    <input type='hidden' name='next' value='store:products'>
    <form>
        {%endblock%}