{% extends 'base.html' %}
<!---->
{%block body%}
<b> Welcome <i>sir ji</i></b>
<div class="productview" style="margin: 16px;">
    {% for product in products %}
    <div class="card" style="width: 18rem;">
        <img style="height:auto; width:286px;" src="{{product.image.url}}" class="card-img-top" alt="{{prduct.name}} image">
        <div class="card-body">
            <h5 class="card-title">{{ product.name }}</h5>
            <h5 class="card-title">Only &#x20B9;{{product.unitprice}}</h5>
            <p class="card-text">
                {{ product.description}}
            </p>
            <a href="{% url 'store:product' product.id %}" class="btn btn-primary">CheckOut</a>
            <a href="{% url 'store:product' product.id %}" class="btn btn-primary">Buy</a>
        </div>
    </div>
    <!---->
    {% empty %}
    <li>No products have been added yet.</li>
    {% endfor %}
    <!---->
    {%endblock%}
</div>