{% extends 'base.html' %}
<!---->
{%block body%}


<div class="container my-4">
    <div class="row">
        <div class="col-md-4">
            <div class="row">
                {{ product.img_obj}}
                <img style="height: 600px; width:auto;" src={{product.image.url}}>
            </div>
        </div>
        <div class="col-md-8">
            <h2>{{product.name}}</h2>
            <h5>Seller : {{product.owner}}</h5>
            <h5>Price : {{product.unitprice}}</h5>
            <h5>Unit Remaining : {{product.rem_quant}}</h5>
            <h6>Description : {{product.description}}</h6>
            <br>
            <form method=GET action="{% url 'store:confirm' product.id %}">
                {% csrf_token %} {{ form.as_p}}
                <button name="placeordersubmit"> Place order</button>
                <input type='hidden' name='next' value='store:products'>
                <form>
        </div>
    </div>
</div>

{%endblock%}