{% extends 'base.html' %}
<!---->
{%block body%}
<div>
    <div class="card " style="margin-left: 20%;margin-right: 20%;">
        <b>  
      <div class="card-header text-center">
            Supplier Registration
        </div>
      </b>
        <div class="card-body">
            <form method="POST" action="{% url 'supplier:register' %}">
                {% csrf_token %} {{ form_u.as_p }}
                <label for="id_addr">Address: </label>
                <input type="textarea" name="addr" maxlength="500" autocomplete="addr" autofocus required id="id_addr"><br><br>
                <button class="btn btn-outline-primary" name="submit">Register</button>
                <input type="hidden" name="next" value="{% url 'supplier:products' %}" />
            </form>
        </div>
    </div>
</div>
{%endblock%}